    {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #box {
        background-color: blue;
        padding: 10px 20px 30px 40px;
        border: 5px solid black;
        width: 500px;
        height: 100px;
        margin-top: 50px;
        overflow: auto;
        box-align: center;
    }

    #content {
        background-color: #565E90;
        /* green */
    }

    h2 {
        margin-bottom: 10px;
    }

    #content {
        font-size: 1.5rem
    }